---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  labels:
    cluster-name: {{ ocp_cluster }}
  name: {{ hostname.split('.')[0] }}
  namespace: {{ ocp_cluster }}-deploy
spec:
  config:
    dns-resolver:
      config:
        server:
{% set dns_servers = dns.split() %}
{% for dns_server in dns_servers %}
        - {{ dns_server }}
{% endfor %}
        search:
{% set dns_search = dns_search_domains.split() %}
{% for domain in dns_search %}
        - {{ domain }}
{% endfor %}
    interfaces:
      - ipv4:
          enabled: false
        ipv6:
          enabled: false
        link-aggregation:
          mode: 802.3ad
          options:
            lacp_rate: 1
            miimon: 100
          port:
{% set nics = machine_nics.split() %}
{% for nic in nics %}
            - {{ nic.split(';')[0] }}
{% endfor %}
        name: bond0
        state: up
        type: bond

      - name: bond0.{{ vlan }}
        type: vlan
        state: up
        ipv4:
          address:
          - ip: {{ machine_ip }}
            prefix-length: "{{ ip_subnet | ipaddr('prefix') }}"
          dhcp: false
          enabled: true
        ipv6:
          enabled: false
        vlan:
          base-iface: bond0
          id: {{ vlan }}

    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: {{ machine_net_gw }}
          next-hop-interface: bond0.{{ vlan }}
          table-id: 254
  interfaces:
{% set nics = machine_nics.split() %}
{% for nic in nics %}
  - macAddress: "{{ nic.split(';')[1] }}"
    name: "{{ nic.split(';')[0] }}"
{% endfor %}


