### OCP stuff ###


clusterName: "{{ ocp_cluster }}"
namespace_name: "{{ ocp_cluster }}-deploy"
baseDomain: "{{ ocp_domain }}"
#apiVIP: 10.10.10.1 ### required for integrated deployments
imageSetName: img4.14.9-x86-64-appsub
#ingressVIP: 10.10.10.2 required for integrated deployments
platformType: None
controlPlaneAgents: 3
workerAgents: "{{ numberof_worker }}"
pullSecret: "environments/pull-secret.json"

dnsServers:
{% for server in ocp_dnsservers %}
  - {{ server }}
{% endfor %}
defaultGateway: "{{ ocp_defaultgw }}"
subnetmask: "{{ ocp_subnetmask }}"
cluster_vlan_id: "{{ ocp_cluster_vlan_id }}"
dnsSearchdomains:
{% for server in ocp_dnssearchdomains %}
  - {{ server }}
{% endfor %}
ntpservers:
{% for server in ocp_ntpservers %}
  - {{ server }}
{% endfor %}
clusterCIDR: "{{ ocp_clusterCIDR }}"
serviceCIDR: "{{ ocp_serviceCIDR }}"
clusterHostPrefix: "{{ ocp_HostPrefix }}"
httpProxy: "{{ ocp_httpProxy }}"
httpsProxy: "{{ ocp_httpsProxy }}"
noProxy: "{{ ocp_noProxy }}"
additionalca: "{{ ocp_additionalca }}"
sshPublicKey: "{{ ocp_sshPublicKey }}"

hosts:
{% for node in ocpnodes_vms %}
  - hostName: {{ node.vm_name }}
    type: VM
    vendor: vmware
    role: {{ node.role }}
    nics:
      - nicName: ens192
        ipAddress: {{ node.ip }}
        ports:
          - ens192
        macAddresses:
          ens192: {{ vmmacs_variables[node.vm_name] }}
{% endfor %}

{% for node in ocpnodes_bms %}
  - hostName: {{ node.bm_name }}
    type: BM
    vendor: {{ node.bm_vendor }}
    role: {{ node.role }}
    defgwint: bond0.{{ ocp_cluster_vlan_id }}
    nics:
      - nicName: bond0
        ipAddress: {{ node.ip }}
{% if node.bm_vendor == "dell" %}
        ports:
          - eno12399
          - ens4f0
        macAddresses:
          eno12399: {{ bmmacs_variables[node.bm_name][0] }}
          ens4f0: {{ bmmacs_variables[node.bm_name][1] }}
{% else %}
        ports:
          - ens3f0
          - ens6f0
        macAddresses:
          ens3f0: {{ bmmacs_variables[node.bm_name][0] }}
          ens6f0: {{ bmmacs_variables[node.bm_name][1] }}
{% endif %}
    bondType: 802.3ad
{% endfor %}

